* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background-image: url('./images/bg-intro-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.intro-component {
    width: 90%;
    display: flex;
    padding: 5rem 0;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* LEFT content */
.content-left {
    text-align: center;
    color: #fff;
    margin-bottom: 4rem;
    max-width: 600px;
}
.content-left h1 {
    margin-bottom: 1rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

/* Right content */
.content-right {
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

/* Trial container */
.content-right .trial-notice {
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    padding: 1.2rem 0;
    margin-bottom: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 8px #0000002a ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.trial-notice:hover {
    background-color: hsl(248, 53%, 64%);
}
.trial-notice p {
    width: 70%;
    text-align: center;
}

/* Global styles */
.strong {
    font-weight: bold;
}

/* Signup Form */
#signUpForm {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    box-shadow: 0px 8px #0000002a;
}
.form-group {
    margin-bottom: 1rem;
}
input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 1rem;
}
input::placeholder {
    font-size: 0.9rem;
    font-weight: 600;
}
.submitBtn {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    border: none;
    padding: 1.4em 0 1em 0;
    border-radius: 5px;
    font-size: 0.91rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0px 4px hsl(154, 56%, 47%);
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.submitBtn:hover {
    background-color: hsl(153, 60%, 65%);
}

/* Disclaimer */
.disclaimer {
    font-size: 0.7rem;
    color: hsl(260, 2%, 66%);
    text-align: center;
    width: 90%;
    margin: auto;
}
.disclaimer .legal-caption {
    color: hsl(0, 100%, 74%);
}
.disclaimer .legal-caption:hover {
    color: hsl(0, 73%, 43%);
}

/* Error Styling */
.error-message {
    color: red;
    font-size: 0.7rem;
    margin-top: 5px;
    font-style: italic;
    text-align: right;
    display: none;
}
.invalid {
    border: 2px solid hsl(0, 100%, 74%);
}
.input-wrapper {
    position: relative;
}
.input-wrapper .error-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

/* Footer */
footer {
    width: 100%;
    background-color: hsl(0, 55%, 43%);
}

footer .attribution {
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

footer .attribution a {
    color: hsl(0, 100%, 76%);
    text-decoration: none;
}

footer .attribution a:hover {
    text-decoration: underline;
}

/* Media Querries Reponsiveness */
@media (min-width: 600px) {
    body {
    background-image: url('./images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    }
}
@media (min-width: 1024px) {
    .intro-component {
        flex-direction: row;
        gap: 5rem;
    } 
    .content-left h1, p {
        text-align: left;
    }
    .content-left h1 {
        font-size: 3rem;
    }
    .signUpForm {
        padding: 3rem;
    }
}
